body {
  font-size: 14px;
  line-height: 21px;
  color: #000000;
  font-weight: normal;
  font-family: "PT Sans", "Arial", sans-serif;
  text-transform: uppercase;
}
h2 {
  font-size: 30px;
  line-height: 24px;
  font-weight: bold;
}
h3 {
  font-size: 21px;
  line-height: 26px;
  font-weight: bold;
}
h4 {
  font-size: 16px;
  line-height: 21px;
  font-weight: bold;
  color: #ffffff;
}
.clearfix {
  content: "";
  display: table;
  clear: both;
}
.container {
  width: 1200px;
  margin: 0 auto;
}
header {
  min-height: 56px;
}
.menu {
  padding: 0;
  margin: 0;
  font-size: 0;
  list-style: none;
}
.menu li {
  display: inline-block;
  width: 20%;
  font-size: 14px;
  text-align: center;
}
.intro {
  min-height: 509px;
  margin-bottom: 60px;
  background-image: url("../img/welcome-to-sedona.jpg");
}
.title {
  width: 576px;
  height: 100px;
  margin: 0 auto;
  margin-bottom: 55px;
  text-align: center;
}
.features {
  min-height: 256px;
}
.features-description {
  display: inline-block;
  width: 33%;
}
.features-photo {
  display: inline-block;
  width: 66%;
  min-height: 256px;
}
.features-photo-1 {
  background-image: url("../img/features-1.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.features-photo-2 {
  background-image: url("../img/features-2.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

}
.features-list {
  height: 333px;
  padding: 0;
  margin: 0;
  list-style: none;
}
.features-list li {
  display: inline-block;
  width: 33%;
}
.features-etc {
  height: 256px;
  padding: 0;
  margin: 0;
  list-style: none;
}
.features-etc li {
  display: inline-block;
  width: 33%;
}
.search-hotels {
  width: 570px;
  min-height: 192px;
  margin: 0 auto;
  text-align: center;
}
.search-hotels a {
  display: block;
  height: 87;
  text-align: center;
  line-height: 87px;
}
.search-form {
  position: absolute;
  width: 570px;
  background-color: #ffffff;
}
footer {
  min-height: 120px;
  padding: 0;
  margin: 0 auto;
  font-size: 0;
}
.footer-tag,
.footer-social,
.footer-copyright {
  display: inline-block;
  width: 33%;
  line-height: 120px;
  text-align: center;
}
.footer-tag {
  font-size: 21px;
}
.footer-social,
.footer-copyright {
  font-size: 14px;
}
.copyright-btn {
  display: inline-block;
  vertical-align: middle;
}

.search-hotel {
  min-height: 220px;
  padding: 0;
  margin: 0;
  background-image: url("../img/bg-hotels.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.search-hotel label {
  display: block;
  color: #ffffff;
}
.infrastructure,
.room-type {
  float: left;
  width: 25%;
}
.price-range {
  float: right;
  width: 50%;
}
.wrapper {
  width: 1056px;
  margin: 0 auto;
}
.sort-block {
  min-height: 87px;
  padding: 0;
  margin: 0;
  font-size: 0;
  line-height: 87px;
}
.sort-filter,
.sort-filter h3,
.sort-arrows {
  display: inline-block;
}
.sort-filter,
.sort-arrows {
  width: 50%;
  font-size: 14px;
}
.sort-filter h3 {
  margin-right: 45px;
}
.sort {
  margin-left: 10px;
  margin-right: 10px;
}
.sort:last-child {
  margin-right: 0;
}
.sort-arrows {
  text-align: right;
}
article,
section {
  outline: 1px solid red;
}
article {
  width: 100%;
  min-height: 90px;
  padding: 30px 0;
}
.hotel-item img {
  float: left;
  margin-right: 30px;
}
.hotel-item section {
  float: left;
}
.hotel-item h3 {
  margin: 0;
}
.legend p {
  display: inline-block;
  margin: 10px 0;
}
.buttons {
  margin: 0;
}
.btn {
  padding: 5px 15px;
  background-color: #81b3d2;
}
.btn:last-child {
  background-color: #766357;
}
.star-rating {
  float: right;
  text-align: right;
}
